/**
    Common
 */

body {
    font-size:100% !important;
}

section {
    padding: 50px 0;
}
/**
    Common header css
 */
.header-logo-image {
    max-width: 206px;
    max-height: 10px;
}

.sub-nav-header, .site-nav-header {
    height: 60px;
    line-height: 60px;
}

.site-nav-header {
    background-color: #000c;
    color: #fff;
}

#topNav a.logo {
    height: 60px;
    line-height: 60px;
}

#topMain>li>a, #topMain>li>a {
    height: 60px;
    line-height: 60px;
}

#topNav button.btn-mobile {
    color: #fff;
}

#topNav button.btn-mobile-active {
    color: #fff;
    background: none  !important;
}

#topMain.site-nav-header-items.nav-pills>li>a {
    color: #fff;

}

#topMain.site-nav-header-items.nav-pills>li>a:hover, li.active a, .shopping-bag-icon .quick-cart a:hover  {
    color: #b7b7b7 !important;
}

.shopping-bag-icon {
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.shopping-bag-icon .quick-cart a {
    color: #fff;
    margin-right: 5px;
}

.badge.badge-corner {
    height: 16px;
    font-size: 10px;
    text-align: center;
    top: 10px !important;
    left: 10px !important;
}

.quick-cart a {
    font-size: 22px;
}

.sub-nav-header-items .sub-nav-header-item {
    font-size: 12px;
}

@media screen and (max-width: 992px) {
    #topNav button.btn-mobile-active {
        position: relative !important;
        width: 0 !important;
    }
    .sub-nav-header-items {
        background: none !important;
    }
    #topMain li.sub-nav-header-item {
        display: none !important;
    }

    .sub-nav-header-items li span a.btn {
        border-radius: 3px !important;
    }
}

#topNav a.logo {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    display: inline-block;
}

/**
    Second header
 */
#topMain.nav-pills>li>button {
    color: #1F262D;
    font-weight: 400;
    background-color: #0000;
    display: block;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

#topMain.nav-pills>li>button:hover {
    background-color: #f5f5f5;
}
/**
    Common footer css
 */
.footer-follow-us {
    padding-top: 20px;
}

.footer-follow-us > a {
    display: inline-block;
    margin-right: 10px;
}

.facebook-icon i {
    color: rgb(46,68,134);
}

.twitter-icon i{
    color: rgb(19, 154, 233);
}

.ajax-form-alert {
    margin-top: 10px;
}

.self-placeholder {
    opacity: 0.7;
    position: fixed;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
}

.self-placeholder span.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 1px solid rgba(0,0,0, 0.08);
    border-right: 1px solid rgba(0,0,0, 0.08);
    border-bottom: 1px solid rgba(0,0,0, 0.08);
    border-left: 1px solid rgba(0,0,0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 100001;
}

/**
    Product Introduce
 */
.intro-block {
    width: 100%;
    font-size: 2vw;
    position: absolute;
}

.intro-block p {
    margin-top: 0;
    margin-bottom: 0;
}

.domilamp-overview-title {
    font-size: 7vw;
    margin-top: 15vw !important;
    color: #ffffff
}

.domilamp-overview-second-title {
    color: #757575;
    font-size: 4vw;
    margin-top: 6vw !important;
}

.domilamp-overview-light p{
    font-size: 5vw;
    margin-top: 5vw
}

.intro-block-lights {
    font-size: 2.5vmin;
    word-spacing: -6px;
}

.intro-block-lights > span {
    word-spacing: 0;
}

.domilamp-overview-wood {
    margin-top: 5vh;
    margin-right: 5vh;
    font-size: 3vw;
}

.domilamp-overview-wood-title {
    background-color: #9a938b;
    font-size: 4vw;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.domilamp-overview-wood-eg {
    position:relative;
    margin-top: 15%;
    left:-30%;
    text-shadow:1px 1px 1px #000;
    padding:10px 0;
    font-size: 2vw;
}

.domilamp-overview-wood-eg-title {
    font-size: 3.2vw;
}

.domilamp-overview-cap {
    position:relative;
    left: 50%;
    margin-top: 10% !important;
}

.domilamp-overview-cap-title,
.domilamp-overview-rotation-title,
.domilamp-overview-vibration-title {
    font-size: 4vw;
}

.domilamp-overview-rotation {
    position:relative;
    left: 10%;
    margin-top: 15% !important;
}

.domilamp-overview-vibration {
    position: relative;
    left: 60%;
    margin-top: 18% !important;
}

.domilamp-tech-1 {
    position: relative;
    width: 50%;
    margin-left: 50%;
    margin-top: 4% !important;
}

.domilamp-tech-1-title {
    color: #31e668;
    font-size: 5vw;
}

.domilamp-tech-1-math-symbol {
    line-height: 1.3vw;
}
/**
    Product detail
 */
.product-option {
    border: 2px solid #b7b7b7;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.product-option.selected {
    border: 2px solid #3575DD;
}

.add-to-cart-btn {
    margin-top: 20px;
}

/**
    Shopping cart
 */
.cart-content {
    border: 1px solid #dee2e6;
}

.cart-delete-item {
    cursor: pointer;
}

.hide-cart-default {
    display: none !important;
}
/**
    Order detail
 */
.ordered-items {
    width: 100%;
    margin-bottom: 0;
}

.ordered-items > tbody > tr > td {
    border: 0;
}

table.ordered-items td {
    padding: 0 5px 0 5px;
}

.order-recipient {
    vertical-align: top !important;
}

.order-detail-payment-amount {
    display: inline-block;
    width: 100px;
}
.order-detail-payment-total {
    font-size: 24px;
    font-weight: bold;
}

/**
    checkout form
 */
.invalid-feedback {
    color: #bf6464;
}
/**
    Backers modal
 */
.backers-modal-names {

}